<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <h3>Software books reviews</h3>
        <p>Welcome to techbookreader.com, an independent, non-profit review site dedicated primarily to technical books.</p>
        <p>This site has helped me structure my own reading and learning, and its purpose is to contribute to the community by providing a set of independent and hopefully unbiased reviews of books, many of which might be considered classics and must reads.</p>
        <p>Enjoy!</p>
    </div>
    <div class="col">
    </div>
</div>
